* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*!  NAV BAR */
nav {
  height: 5rem;
  width: 100%;
  padding: 0rem 18rem;
  background-color: rgb(95, 8, 195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
#nav1 {
  flex-basis: 50%;
  display: flex;
}

#logo-address {
  flex-basis: 33.3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  border: 1px solid rgba(155, 255, 255, 0.293);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #fff;
  margin: 0px 1rem;
  font-weight: 600;
  background-color: rgba(226, 223, 235, 0.186);
}

#address {
  color: #fff;
  font-weight: 600;
}
#address > p:first-child > span {
  color: rgb(256, 223, 32);
}

#location {
  color: #fff;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  cursor: pointer;
}

#links {
  flex-basis: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
#links > a {
  text-decoration-line: none;
  color: #fff;
  font-weight: 600;
}

#user-cart {
  flex-basis: 33.3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.1rem;
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  right: 20px;
}

/*! Header */
header {
  height: 7rem;
  width: 80%;
  margin: 0rem auto;
  /* border: 2px solid red; */
  display: flex;
}

#header-one {
  flex-basis: 10%;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
}

#header-two {
  flex-basis: 90%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

#header-two > h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

#header-two > p {
  font-size: 0.8rem;
}

/*! Category Items */
#category-items {
  min-height: 100vh;
  width: 80%;
  margin: 0rem auto;
  background-color: rgb(253, 253, 253);
  display: flex;
}
#sidebar-one {
  flex-basis: 20%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 80vh;
  position: sticky;
  top: 100px;
}
#sidebar-one > h3 {
  font-size: 1rem;
  font-weight: 600;
}

input {
  accent-color: rgb(96, 8, 198);
}

#sidebar-two {
  flex-basis: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-cards {
  height: 20rem;
  width: 15rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 2rem 1.5rem;
}

.product-card-one {
  height: 50%;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-card-one > .discount-percentage {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.2rem 0.5rem;
  background-color: rgb(96, 8, 198);
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 5px;
}
.product-card-one > img {
  height: 50%;
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
}
.product-card-one > .wishlist {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.clicked{
  color: red;
}

.product-card-two {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.delivery-time {
  width: 40%;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.099) 0px 3px 8px;
  margin: 0.5rem 0px;
}
.product-title {
  font-weight: 600;
  font-size: 1rem;
}
.product-brand {
  font-weight: 500;
  font-size: 0.8rem;
}
.product-price {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  position: relative;
  margin: 0.3rem 0px;
}
.discount-price {
  font-size: 1rem;
  font-weight: 600;
}
.actual-price {
  font-size: 0.8rem;
  position: absolute;
  bottom: -10px;
  text-decoration-line: line-through;
  color: #595959;
}
.addBtn {
  border-radius: 17px;
  padding: 4px 0.8rem;
  border: 1px solid rgb(96, 8, 198);
  background-color: #efefef;
  color: rgb(96, 8, 198);
  font-weight: 600;
}
.addBtn:hover {
  background-color: rgb(96, 8, 198);
  color: #efefef;
}
.ratings {
  /* border: 2px solid red; */
  margin-top: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
